<div class="header-container">
  
  <header>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/checkout-form" routerLinkActive="active">checkout</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/product-list" routerLinkActive="active">Products</a>
      <a routerLink="/Contact" routerLinkActive="active">Contact</a>
      <a routerLink="/login" routerLinkActive="active">Logout</a>

    </nav>
  </header> 
</div>
    <!-- <div class="logo" (click)="goToHome()">Profile</div>
    
    <div class="logout" (click)="logout()">Logout</div> -->
    <!-- <div class="cart" (click)="cart()" [ngStyle]="{'background-image':'url()'}" >Your cart is empty
    </div> -->
  
