<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" routerLink="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>


    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">BTJ2 Store</li>
            <li class="has-submenu">
              <a routerLink="/checkout-form">Checkout</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a routerLink="/payment">Payment</a></li>
                <li><a routerLink="/order">orders</a></li>
                <li><a routerLink="/product">product</a></li>
              </ul>
            </li>
            <li><a routerLink="/payment">payment</a></li>
            <li><a routerLink="/contact">contact</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="#">Features</a></li>
         
         
        </ul>
      </nav>
    </div>

    

    

   



    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>





